:root {
  --c-266e49: #266e49;
  --c-2b2622: #2b2622;
  --c-2f8a5c: #2f8a5c;
  --c-3a6b50: #3a6b50;
  --c-3e6bb0: #3e6bb0;
  --c-3f5577: #3f5577;
  --c-5c544a: #5c544a;
  --c-665f58: #665f58;
  --c-6e8a5c: #6e8a5c;
  --c-6f6659: #6f6659;
  --c-726a60: #726a60;
  --c-78b891: #78b891;
  --c-7b7266: #7b7266;
  --c-8a7f6e: #8a7f6e;
  --c-8a8170: #8a8170;
  --c-8b651e: #8b651e;
  --c-8fa77e: #8fa77e;
  --c-928879: #928879;
  --c-9a4b36: #9a4b36;
  --c-9a8f7c: #9a8f7c;
  --c-9bcbae: #9bcbae;
  --c-a8432c: #a8432c;
  --c-a8987e: #a8987e;
  --c-a89e92: #a89e92;
  --c-afc0e4: #afc0e4;
  --c-b07d22: #b07d22;
  --c-b6c2cc: #b6c2cc;
  --c-b8dcc7: #b8dcc7;
  --c-b9ae99: #b9ae99;
  --c-bcaf98: #bcaf98;
  --c-c0563c: #c0563c;
  --c-c77e62: #c77e62;
  --c-c7bba6: #c7bba6;
  --c-c7d8b9: #c7d8b9;
  --c-c8c2b7: #c8c2b7;
  --c-c9bdab: #c9bdab;
  --c-cbbfa9: #cbbfa9;
  --c-cdbe9e: #cdbe9e;
  --c-cfc4b0: #cfc4b0;
  --c-cfc7b6: #cfc7b6;
  --c-d6ad60: #d6ad60;
  --c-d7d2c7: #d7d2c7;
  --c-d8efe1: #d8efe1;
  --c-d9a89b: #d9a89b;
  --c-d9cfc0: #d9cfc0;
  --c-dacdb8: #dacdb8;
  --c-dbe0d4: #dbe0d4;
  --c-e0a78f: #e0a78f;
  --c-e0dacd: #e0dacd;
  --c-e0ebd7: #e0ebd7;
  --c-e2d9c9: #e2d9c9;
  --c-e39a48: #e39a48;
  --c-e3e8df: #e3e8df;
  --c-e3eedd: #e3eedd;
  --c-e5e9e0: #e5e9e0;
  --c-e6e0d3: #e6e0d3;
  --c-e7f3ec: #e7f3ec;
  --c-e9e3d9: #e9e3d9;
  --c-e9f0fb: #e9f0fb;
  --c-eae1d2: #eae1d2;
  --c-eaf4ee: #eaf4ee;
  --c-ec6a4d: #ec6a4d;
  --c-ecefe9: #ecefe9;
  --c-ede7dd: #ede7dd;
  --c-eef1f4: #eef1f4;
  --c-eef2fa: #eef2fa;
  --c-efe8dc: #efe8dc;
  --c-efe9df: #efe9df;
  --c-f1f6f0: #f1f6f0;
  --c-f2ede4: #f2ede4;
  --c-f3c9bc: #f3c9bc;
  --c-f3eef8: #f3eef8;
  --c-f3efe7: #f3efe7;
  --c-f4f1ea: #f4f1ea;
  --c-f6c75f: #f6c75f;
  --c-f6dfd3: #f6dfd3;
  --c-f7f4ee: #f7f4ee;
  --c-f8e9c9: #f8e9c9;
  --c-fbe7e1: #fbe7e1;
  --c-fbede6: #fbede6;
  --c-fbefe9: #fbefe9;
  --c-fbf1e6: #fbf1e6;
  --c-fbf6ef: #fbf6ef;
  --c-fcede7: #fcede7;
  --c-fcfbf8: #fcfbf8;
  --c-fff7f2: #fff7f2;
  --c-ffffff: #ffffff;
}

.dark {
  --c-266e49: #95dab7;
  --c-2b2622: #2a2620;
  --c-2f8a5c: #75d0a2;
  --c-3a6b50: #a2cdb5;
  --c-3e6bb0: #4f7cc1;
  --c-3f5577: #889ec0;
  --c-5c544a: #cdcbc8;
  --c-665f58: #a5a09c;
  --c-6e8a5c: #87a375;
  --c-6f6659: #a4a19b;
  --c-726a60: #a49f9a;
  --c-78b891: #478760;
  --c-7b7266: #a39e99;
  --c-8a7f6e: #a19d97;
  --c-8a8170: #a19d97;
  --c-8b651e: #e6c68a;
  --c-8fa77e: #698158;
  --c-928879: #a09c96;
  --c-9a4b36: #c97a65;
  --c-9a8f7c: #837865;
  --c-9bcbae: #455e4f;
  --c-a8432c: #d36e57;
  --c-a8987e: #817157;
  --c-a89e92: #9c9892;
  --c-afc0e4: #3d4a66;
  --c-b07d22: #ddaa4f;
  --c-b6c2cc: #4a5259;
  --c-b8dcc7: #445f4f;
  --c-b9ae99: #615642;
  --c-bcaf98: #635640;
  --c-c0563c: #c3593f;
  --c-c77e62: #9d5438;
  --c-c7bba6: #5b5448;
  --c-c7d8b9: #505d46;
  --c-c8c2b7: #57534c;
  --c-c9bdab: #5a5349;
  --c-cbbfa9: #5c5548;
  --c-cdbe9e: #5f5645;
  --c-cfc4b0: #5c5448;
  --c-cfc7b6: #5a5549;
  --c-d6ad60: #826021;
  --c-d7d2c7: #58544b;
  --c-d8efe1: #2c4436;
  --c-d9a89b: #64473f;
  --c-d9cfc0: #5c5448;
  --c-dacdb8: #5e5545;
  --c-dbe0d4: #393d34;
  --c-e0a78f: #69483a;
  --c-e0dacd: #5b5548;
  --c-e0ebd7: #37412f;
  --c-e2d9c9: #5e5545;
  --c-e39a48: #b76e1c;
  --c-e3e8df: #383d34;
  --c-e3eedd: #35412f;
  --c-e5e9e0: #393d33;
  --c-e6e0d3: #403b30;
  --c-e7f3ec: #2f4137;
  --c-e9e3d9: #403a31;
  --c-e9f0fb: #25344c;
  --c-eae1d2: #423b2e;
  --c-eaf4ee: #2f4136;
  --c-ec6a4d: #ef7a5e;
  --c-ecefe9: #383d34;
  --c-ede7dd: #413a2f;
  --c-eef1f4: #32383e;
  --c-eef2fa: #293347;
  --c-efe8dc: #433b2e;
  --c-efe9df: #413a2f;
  --c-f1f6f0: #333f31;
  --c-f2ede4: #423b2e;
  --c-f3c9bc: #6e4335;
  --c-f3eef8: #382c44;
  --c-f3efe7: #413b2f;
  --c-f4f1ea: #413c2f;
  --c-f6c75f: #936a10;
  --c-f6dfd3: #4b3226;
  --c-f7f4ee: #423b2e;
  --c-f8e9c9: #4e4022;
  --c-fbe7e1: #4e2d23;
  --c-fbede6: #4c3124;
  --c-fbefe9: #4c3225;
  --c-fbf1e6: #4c3924;
  --c-fbf6ef: #493b27;
  --c-fcede7: #4e2f22;
  --c-fcfbf8: #433e2d;
  --c-fff7f2: #54321c;
  --c-ffffff: #ffffff;
}
